{# src\Devschool\BiblioBundle\Resources\views\Livre\list.html.twig #}
{% extends 'DevschoolBiblioBundle::layout.html.twig' %}

{% block title %}Bibliothèque{% endblock %}

{% block body %}

    <div class="container">

        <div class="row">

            <div class="col-md-3">
                <p class="lead">Cinéma</p>
                <div class="list-group">
                    <a href="#" class="list-group-item active">Livres
            </a>
                    <a href="" class="list-group-item">Réalisateurs</a>
                </div>
            </div>

            <div class="col-md-9">
            
                <h2>{{ titre|upper }}</h2>
                
                <br />
            {% for livre in livres %}
                <div class="thumbnail">
                    <div class="caption-full">
                        <h4 class="pull-right">{{livre.genre}}</h4>
                        <h4><a href="{{ path('page_livre', {'id': livre.id}) }}">{{ livre.titre }}</a></h4>
                        <p>{{ livre.description }}</p>
                    </div>
                    <div class="ratings">
                        <p class="pull-right">sorti le 20/10/1993</p>
                    {% if livre.auteur == "J. K. Rowling" %}
                        <p>Réalisé par :<a href="{{ path('page_livre', {'id': livre.id}) }}">{{ livre.auteur }}{{ livre.auteur }}<strong></a></p>
                        {% else %}
                        <p>Réalisé par : <a href="cinema-films-realisateur.html">{{ livre.auteur }}</a></p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
                
               
            </div>

        </div>

    </div>

    {% endblock %}