{# src\Devschool\CinemaBundle\Resources\views\Film\list.html.twig #}
{% extends 'DevschoolCinemaBundle::layout.html.twig' %}

{% block title %}Bibliothèque{% endblock %}

{% block body %}

    <div class="container">

        <div class="row">

            <div class="col-md-3">
                <p class="lead">Cinéma</p>
                <div class="list-group">
                    <a href="{{ path('page_films') }}" class="list-group-item active">Films</a>
                    <a href="#" class="list-group-item">Réalisateurs</a>
                </div>
            </div>

            <div class="col-md-9">
            
                <h2>{{ titre|upper }}</h2>
                
                <br />
            {% for film in films %}
                <div class="thumbnail">
                    <div class="caption-full">
                        <h4 class="pull-right">Science-Fiction</h4>
                        <h4><a href="{{ path('page_film', {'id': film.id}) }}">{{ film.titre }}</a></h4>
                        <p>{{ film.description }}</p>
                    </div>
                    <div class="ratings">
                        <p class="pull-right" style="color:#e74c3c;">sorti le <strong>{{film.date|date ('j F Y')}}</strong</p>
                    {% if film.realisateur == "J. K. Rowling" %}
                        <p>Réalisé par : <a href="cinema-films-realisateur.html"><strong>{{ film.realisateur }}<strong></a></p>
                        {% else %}
                        <p>Réalisé par : <a href="cinema-films-realisateur.html">{{ film.realisateur }}</a></p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
                
               
            </div>

        </div>

    </div>

    {% endblock %}