{# src\Devschool\CinemaBundle\Resources\views\Film\list.html.twig #}
{% extends 'DevschoolCinemaBundle:Default:layout.html.twig' %}

{% block title %}Bibliothèque{% endblock %}

{% block body %}

    <div class="container">

        <div class="row">

            <div class="col-md-3">
                <p class="lead">Cinéma</p>
                <div class="list-group">
                    <a href="{{ path('page_films') }}" class="list-group-item active">Films</a>
                    <a href="{{('realisateurs')}}" class="list-group-item">Réalisateurs</a>
                </div>
            </div>

            <div class="col-md-9">
            
                <h2>{{ titre|upper }}</h2>
                
                <br />
            {% for film in films %}
                <div class="thumbnail">
                    <div class="caption-full">
                  
                 {% for genre in genres %}
                        <h4 class="pull-right"{{genre.nom}}></h4>
                    
                   {% endfor %}      
                        <h4><a href="{{ path('page_film', {'id': film.id}) }}">{{ film.titre }}</a></h4>
                        <p>{{ film.description }}</p>
                    </div>
                    <div class="ratings">
                        <p class="pull-right" style="color:#e74c3c;">sorti le <strong>{{film.date|date ('j F Y')}}</strong</p>

                        <p>Réalisé par : <a href="">{{ film.realisateur }}</a></p>

                     

                    </div>
                    
                </div>
            
            {% endfor %}
                
               
            </div>

        </div>

    </div>

    {% endblock %}