

{# src\Devschool\CinemaBundle\Resources\views\Film\show.html.twig #}
{% extends 'DevschoolCinemaBundle::layout.html.twig' %}

{% block title %}{{ films.titre }}{% endblock %}

{% block body %}

<div class="container">
<div class="row">
<div class="col-md-12">
	
 <h1>{{ films.titre }}</h1>

    <h3><span>Ecrit par {{ films.realisateur }}</span></h3>

    <p>{{ films.description }}</p>

   


    <p><a class="btn btn-danger" href="{{ path('page_films') }}">Retour</a></p>
    
</div>

</div>
</div>
   {% endblock %}